<h1>Categoria: {{category.Name}}</h1>
<hr>
<h2>Postagens:</h2>

{{#each posts}}
    <div class="card mt-4">
        <div class="card-body">                        
            <h3>{{this.Title}}</h3>
            <p>Descrição: {{Description}}</p>
            <a href="/postagem/{{Slug}}"><button class="btn btn-success">Leia Mais</button></a>
            <hr>            
            <small>Data da publicação: {{Date}}</small>
        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhuma postagem.</h4>
{{/each}}